.ps-content { position:relative; margin:0px auto; padding:0px; width: 600px; height: 400px; overflow: auto; }
.ps-content .content { background-image: url('../azusa.jpg'); width: 1280px; height: 720px; }
.spacer { text-align:center }